<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/estilosjava.css">
    <link rel="stylesheet" href="css/estilos1.css">
</head>


<%- include('template/cabecera') -%>



<div class="container">
    <body>
    <br>

    <h1 class="text-primary">Una mascota saludable</h1>
    <h2>Mi app de mascotas</h2>
   
    <br>
    <br>
    <h3 class="text-danger">Este sitio esta desarrollado para la materia: Ingeniería y Desarrollo en la Web</h3>
    <h3 class="text-danger">Nombre del alumno: Alfonso Martínez Juárez</h3>
    <h3 class="text-danger">Actividad: Implementación de una solución basada en una aplicación web</h3>
    <h3 class="text-danger">UNIR</h3>
   
</div>

<%- include('template/footer') -%>
    