<!DOCTYPE html>
<html lang="es">


<%- include('template/cabecera') -%>



<div class="container">
    <body>
    <br>

    <h1 class="text-primary">Una mascota saludable</h1>
    <h2>Mi app de mascotas</h2>
   
    <br>
    <br>
    <h3 class="text-danger">Este sitio esta desarrollado para la materia: Ingeniería y Desarrollo en la Web</h3>
    <h3 class="text-danger">Nombre del alumno: Alfonso Martínez Juárez</h3>
    <h3 class="text-danger">Actividad: Implementación de una solución basada en una aplicación web</h3>
    <h3 class="text-danger">UNIR</h3>
   
</div>

<%- include('template/footer') -%>
    