<%- include('template/cabecera') %>

<div class="container">
    <body>
        <br>
    <h1 class="text-primary">Una mascota saludable  %></h1>
    <h2>Nosotros nos dedicamos al bienestar de cada uno de sus perros o gatos</h2>
  
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, cupiditate iusto aliquam, sunt incidunt numquam dolorem magni omnis maxime eum ducimus nobis perspiciatis aliquid commodi nihil quaerat. Aperiam, cum minus optio et modi repellendus neque! Beatae, voluptatum id quaerat nobis nam praesentium maxime quos repudiandae cum molestiae incidunt nesciunt.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, cupiditate iusto aliquam, sunt incidunt numquam dolorem magni omnis maxime eum ducimus nobis perspiciatis aliquid commodi nihil quaerat. Aperiam, cum minus optio et modi repellendus neque! Beatae, voluptatum id quaerat nobis nam praesentium maxime quos repudiandae cum molestiae incidunt nesciunt.</p>

</div>
<%- include('template/footer') -%>