<%# Alumno Alfonso Martínez Juárez UNIR  %>

<%- include('template/cabecera') %>

<div class="container">
    <body>
        <br>
    <h1 class="text-primary">Nuestros servicios de mascotas  %></h1>
    <h2>Nosotros nos dedicamos al bienestar de cada uno de sus perros o gatos</h2>
  
    <br>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, cupiditate iusto aliquam, sunt incidunt numquam dolorem magni omnis maxime eum ducimus nobis perspiciatis aliquid commodi nihil quaerat. Aperiam, cum minus optio et modi repellendus neque! Beatae, voluptatum id quaerat nobis nam praesentium maxime quos repudiandae cum molestiae incidunt nesciunt.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque culpa, cupiditate iusto aliquam, sunt incidunt numquam dolorem magni omnis maxime eum ducimus nobis perspiciatis aliquid commodi nihil quaerat. Aperiam, cum minus optio et modi repellendus neque! Beatae, voluptatum id quaerat nobis nam praesentium maxime quos repudiandae cum molestiae incidunt nesciunt.</p>

</div>
<br>
<table style="width: 60%" align="center">
	
	<thead>
       <tr>
           <th>Servicio</th>
           <th>Detalle</th>
           <th>Costo</th>
       </tr>
   </thead>
	
	<tbody>

  	 <tr>
       <td>Consulta</td>
       <td>Contamos con médicos veterinarios expertos en diferentes disciplinas y con la metodología necesaria para llegar a los diagnósticos que permitirán enfocar los tratamientos de manera eficiente y oportuna, seguimos a detalle el expediente clínico orientado a problemas.</td>
       <td> 400 pesos mexicanos</td>
   	</tr>
   	<tr>
       <td>Cirugía</td>
       <td>contamos con quirófano equipado con anestesia inhalada y monitores trans quirúrgicos en donde al anestesista se le permite visualizar permanentemente las constantes de las mascotas como son el electrocardiograma, frecuencia respiratoria, cantidad de oxigeno y bióxido de carbono circulante en el organismo de nuestra mascota, entre otras.  </td>
       <td>1000 pesos mexicanos</td>
  	</tr>

   	<tr>
       <td>Hospitalización</td></li>
       <td>Contamos con las instalaciones y el personal capacitado para brindar el internamiento de pacientes con fines tanto terapéuticos como diagnostico en donde se requiere la supervisión e intervención  continua (24 horas).</td>
       <td>500 pesos mexicanos</td>
   	</tr>

   	</tbody>

</table>

<%- include('template/footer') -%>
